<html>

<body>
	<p>Create a account</p>
	<ol>
		<li>Example:</li>
		<li>guest (password: guest)</li>
		<li>developer (password: developer)</li>
	</ol>
	<hr>
	<form action="/create" method="post">
		Username: <input type="text" name="name"><br>
		Password: <input type="password" name="password"><br>
		<input type="submit" value="Create">
	</form>
</body>

</html>
