<html>

<body>
	<p>Use the following IDs and Password:</p>
	<ol>
		<li>guest (password: guest)</li>
		<li>developer (password: developer)</li>
		<li>demo (password: demo)</li>
		<li>student (password: student)</li>
	</ol>
	<hr>
	<form action="/login" method="post">
		Username: <input type="text" name="name"><br>
		Password: <input type="password" name="password"><br>
		<input type="submit" value="Login">
	</form>
	<form action="/create" method="get">
		<input type="submit" value="Create Account">
	</form>
</body>

</html>
